.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(
    90deg,
    rgb(76, 147, 168),
    rgba(223, 186, 186, 0.959)
  );
}
.home__header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}

.home__header a {
  margin-right: 20px;
  text-decoration: inherit;
  color: rgba(0, 0, 0, 0.87);
  font-size: 15px;
}
.home__header a:hover {
  text-decoration: underline;
}
.home__headerRight {
  align-items: inherit;
  display: flex;
  min-width: 13vw;
  justify-content: space-between;
}
.home__headerRight > .MuiSvgIcon-root {
  margin-right: 20px;
}
.home__body {
  flex: 1;
  display: flex;
  margin-top: 10%;
  flex-direction: column;
}
.home__body > img {
  margin-top: -250px;
  object-fit: contain;
  height: 700px;
  margin-bottom: -250px;
}
