.search__input {
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
  height: 30px;
  padding: 10px 20px;
  border-radius: 999px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 560px;
  background-color: aliceblue;
}
.search__input > input {
  flex: 1;
  padding: 10px 20px;
  font-size: medium;
  border: none;
  outline: none;
  background-color: aliceblue;
}
.search__inputIcon {
  color: gray;
}
.search__buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.search__buttons button {
  margin: 5px;
  padding: 7px;
  border: 1px solid lightgray;
  text-transform: inherit;
  color: aliceblue;
}
.search__buttonsHidden {
  display: none !important;
}
